{% extends 'base.html.twig' %}

{% block title %}Uno Dos Tres !
{% endblock %}

{% block body %}
	<section class="min-h-screen bg-gray-200 p-4">
		<h1 class="text-2xl font-bold mb-4 text-center">Partie en cours ...</h1>
		<p>Tour : {{game.turn}}</p>
		<p>prochain à jouer : {{game.idPlayerNextTurn}}</p>
		{% if game.turn == 0 %}
			<p class="text-center text-lg font-bold text-green-600 mb-4">C'est votre tour !</p>
		{% else %}
			<p class="text-center text-lg font-bold text-blue-600 mb-4">Tour du Bot
				{{ game.turn }}</p>
		{% endif %}

		{# On a grid layout -> #}
		<div
			class="grid grid-cols-3 grid-rows-3 gap-4 h-[75vh]">
			{# Left of the screen --> Bot 1 #}
			<div class="col-1 row-2 flex items-center justify-center">
				{% for player in players %}
				{# doc twig in loop 'for' -> loop.index 	The current iteration of the loop. (1 indexed) #}
					{% if not player.isHuman and loop.index == 2 %}
						<div
						{# twig doc loop 'for' -> loop.index0 	The current iteration of the loop. (0 indexed) #}
							class="p-4 bg-amber-300 rounded-lg shadow w-full" {% if loop.index0 == game.turn %} style="box-shadow: 0 0 0 4px #3b82f6, 0 4px 6px -1px rgba(0, 0, 0, 0.1);" {% endif %}>
							{# number of the boot with loop.index -> the number of round in the for loop #}
							<h3 class="text-lg font-semibold">Bot
								{{ loop.index - 1 }}</h3>
							<div
								class="flex gap-1 mt-2 flex-wrap">
								{# doc twig -> If you do need to iterate over a sequence of numbers, you can use the .. operator: #}
								{# {% for i in 1..player.cardsInHand %}
									div class="bg-gray-400 text-gray-600 p-3 rounded text-xl">?</div>
									{% endfor %} #}
								<ul class="flex flex-wrap gap-2">
									{% for card in cards %}
										{% if card.player and card.player.id == player.id %}
											<li class="flex items-center justify-center p-2 rounded font-bold min-h-15 min-w-10 bg-gray-800" style="color: {{ card.color }}; border: solid 4px {{ card.color }}">
												{{ card.label }}
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			{# Bot 2 -> top #}
			<div class="col-2 row-1 flex items-end justify-center">
				{% for player in players %}
					{% if not player.isHuman and loop.index == 3 %}
						<div class="p-4 bg-green-300 rounded-lg shadow w-full" {% if loop.index0 == game.turn %} style="box-shadow: 0 0 0 4px #3b82f6, 0 4px 6px -1px rgba(0, 0, 0, 0.1);" {% endif %}>
							<h3 class="text-lg font-semibold">Bot
								{{ loop.index - 1 }}</h3>
							<div
								class="flex gap-1 mt-2 flex-wrap">
								{# doc twig -> If you do need to iterate over a sequence of numbers, you can use the .. operator: #}
								{# {% for i in 1..player.cardsInHand %}
									<div class="bg-gray-400 text-gray-600 p-3 rounded text-xl">?</div>
									{% endfor %} #}
								<ul class="flex flex-wrap gap-2">
									{% for card in cards %}
										{% if card.player and card.player.id == player.id %}
											<li class="flex items-center justify-center p-2 rounded font-bold min-h-15 min-w-10 bg-gray-800" style="color: {{ card.color }}; border: solid 4px {{ card.color }}">
												{{ card.label }}
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			{# Bot 3 -> right #}
			<div class="col-3 row-2 flex items-center justify-center">
				{% for player in players %}
					{% if not player.isHuman and loop.index == 4 %}
						<div class="p-4 bg-amber-300 rounded-lg shadow w-full" {% if loop.index0 == game.turn %} style="box-shadow: 0 0 0 4px #3b82f6, 0 4px 6px -1px rgba(0, 0, 0, 0.1);" {% endif %}>
							<h3 class="text-lg font-semibold">Bot
								{{ loop.index - 1 }}</h3>
							<div
								class="flex gap-1 mt-2 flex-wrap">
								{# {% for i in 1..player.cardsInHand %}
									<div class="bg-gray-400 text-gray-600 p-3 rounded text-xl">?</div>
								{% endfor %} #}
								<ul class="flex flex-wrap gap-2">
									{% for card in cards %}
										{% if card.player and card.player.id == player.id %}
											<li class="flex items-center justify-center p-2 rounded font-bold min-h-15 min-w-10 bg-gray-800" style="color: {{ card.color }}; border: solid 4px {{ card.color }}">
												{{ card.label }}
											</li>
										{% endif %}
									{% endfor %}
								</ul>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			{# Discard #}
			<div class="col-2 row-2 flex items-center justify-center me-4">
				<div class="text-center">
					<h2 class="text-lg font-semibold mb-2">Défausse</h2>
					<div class="p-4 rounded-lg shadow-lg font-bold bg-gray-800 w-20 h-30 flex items-center justify-center text-4xl" style="border: solid 4px {{ game.currentColor }}; color: {{ game.currentColor }};">
						{{ game.currentValue }}
					</div>
				</div>
				<div class="d-flex align-items-center ms-4">
					<a href="{{ path('app_draw_card', {'playerId': humanPlayer.id})}}" class="bg-red-700 text-white p-2 rounded hover:bg-yellow-400 hover:text-black">
						Piocher
					</a>
				</div>
			</div>

			{# Player -> bottom of the screen #}
			<div class="col-2 row-3 flex items-center justify-center">
				{% for player in players %}
					{% if player.isHuman %}
						<div class="p-4 bg-red-200 rounded-lg shadow w-full h-55" {% if game.turn == 0 %} style="box-shadow: 0 0 0 4px #10b981, 0 4px 6px -1px rgba(0, 0, 0, 0.1);" {% endif %}>
							<h3 class="text-lg font-semibold mb-2">Vos cartes</h3>
							<ul class="flex flex-wrap gap-2">
								{% for card in cards %}
									{% if card.player and card.player.id == player.id %}
										<li class="p-2 rounded font-bold h-18 w-14 bg-gray-800 flex items-center justify-center text-2xl hover:h-20 hover:w-16 transition-all" style="color: {{ card.color }}; border: solid 4px {{ card.color }}">

											{% if game.turn == 0 %}
												<form action="{{ path('app_click', {'cardId': card.id}) }}" method="post" class="w-full h-full">
													<button class="w-full h-full flex items-center justify-center cursor-pointer hover:text-4xl transition-all">
														{{ card.label }}
													</button>
												</form>
											{% else %}
											<div class="w-full h-full flex items-center justify-center">
												{{ card.label }}
											</div>	
											{% endif %}
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
	{{ dump(game.idPlayerNextTurn - (game.direction ? 1 : 0)) }}

	<script>
	{% if game.direction %}
		{% if game.idPlayerNextTurn % 4 != 2 %}
			setTimeout(() => {
				{% if game.idPlayerNextTurn % 4 != 1 %}
					window.location.href = "{{ path('app_enemy', {'playerId': game.idPlayerNextTurn - 1 }) }}";
				{% else %}
					window.location.href = "{{ path('app_enemy', {'playerId': game.idPlayerNextTurn + 3 }) }}";
				{% endif %}
			}, 2000);
		{% endif %}
	{% else %}
		{% if game.idPlayerNextTurn % 4 != 0 %}
			setTimeout(() => {
				window.location.href = "{{ path('app_enemy', {'playerId': game.idPlayerNextTurn +1 }) }}";
			}, 2000);
		{% endif %}
	{% endif %}
  </script>
{% endblock %}
