{% extends 'base.html.twig' %}

{% block title %}Uno Dos Tres !
{% endblock %}

{% block body %}
	<section class="min-h-screen bg-gray-300 p-4">
		<h1 class="text-2xl font-bold mb-4 text-center">Partie en cours ...</h1>

		<div class="grid grid-cols-6 grid-rows-6 gap-4 items-center">
			{# Carte visible = la défausse #}
			<div class="col-span-4 col-start-2 mb-6">
				<h2 class="text-lg font-semibold mb-2">Défausse</h2>
				{% for card in cards %}
					{% if card.player is null %}
						<div class="inline-block p-4 rounded-lg shadow-lg text-white text-xl" style="background-color: {{ card.color }};">
							{{ card.label }}
						</div>
					{% endif %}
				{% endfor %}
			</div>

			{# Cartes des joueurs #}
			<div>
				{% for player in players %}
					<div class=" col-start-2 col-span-3 mb-4 p-4 bg-sky-300 rounded-lg shadow">
						<h3 class="text-lg font-semibold">
							{# Carte de l'utilisateur #}
							{% if player.isHuman %}
								Vos cartes
							{% else %}
								{# cartes des bots #}
								Joueur {{ loop.index - 1 }}
							{% endif %}
						</h3>
						{% if player.isHuman %}
							<ul class="flex flex-wrap gap-2 mt-2">
								{% for card in cards %}
									{% if card.player and card.player.id == player.id %}
										<li class="p-2 rounded cursor-pointer border-amber-300" style="background-color: {{ card.color }};">
											{{ card.label }}
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						{% else %}
							<!-- Cartes cachées pour les bots -->
							<div class="flex gap-1 mt-2">
								{% for i in 1..player.cardsInHand %}
									<div class="bg-gray-400 text-gray-600 p-2 rounded">?</div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
